<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "calen">
	<resultMap type="calen" id="calMap">
		<result property="start" column="start1"/>
		<result property="end" column="end1"/>
	</resultMap>
	<select id="calenList" resultType="calen">
		SELECT id, title, writer, content, run, agency, prepare, patientName, patientRoom, patientNumber,
		DATE_FORMAT(start, '%Y-%m-%d %H:%i:%s') start,
		DATE_FORMAT(end, '%Y-%m-%d %H:%i:%s') end,
		ALLDAY,
		TEXTCOLOR,
		BACKGROUNDCOLOR,
		BORDERCOLOR,
		DATE_FORMAT(regdate, '%Y-%m-%d %H:%i:%s') regdate
		FROM csworktools.calendar
	</select>
	<insert id="input" parameterType="calen" >
	<![CDATA[
		INSERT INTO csworktools.calendar (title, content, start, end, allDay, textColor, backgroundColor, borderColor, writer, regdate, run, agency, prepare, patientName, patientRoom, patientNumber)
		SELECT #{title}, #{content}, #{start}, #{end}, #{allday}, 'yellow', 'navy', 'navy', #{writer}, now(), #{run}, #{agency}, #{prepare}, #{patientName}, #{patientRoom}, #{patientNumber}
		FROM DUAL
		WHERE NOT EXISTS (
		    SELECT
			* 
		FROM
			csworktools.calendar
		WHERE
			#{start} < end
			AND
			#{end} > start
		);
		]]>
	</insert>
	
	<select id="calenselect" resultType="int">
	select count(*) from csworktools.calendar where start = #{start}
	<!--  DATE_FORMAT(#{start1}, '%Y-%m-%d %H:%i:%s') -->
	
	</select>
	
	<delete id="calendelete">
	
	DELETE FROM	csworktools.calendar WHERE id = #{id};
	
	</delete>
	
</mapper>