<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "canvas">

	<select id="cslist" resultType="writtenVo">
		select 
		cs_idx, cs_data_01, cs_data_02, cs_data_03, cs_data_04, cs_data_05, cs_data_06, cs_data_07, cs_data_08,
		cs_data_09, cs_data_10, cs_data_11, cs_data_12, cs_data_13, cs_data_14, cs_data_15, cs_data_16, cs_data_17, cs_data_18, cs_data_19,
		 cs_data_20, cs_data_21, cs_data_22, cs_data_23, cs_data_24, cs_data_25, cs_data_26, cs_data_27, cs_data_28, cs_data_29, cs_data_30,
		  DATE_FORMAT(cs_data_31, '%Y.%m.%d') AS cs_data_31, cs_data_32
		 from cs_data 
		<!-- 최근 일주일 데이터 -->
		WHERE YEARWEEK(cs_data_31) = YEARWEEK(NOW()) 
		
		order by cs_idx desc
		
		limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="cslistsearchCnt" resultType="int">
		select count(*) from csworktools.cs_data 
		
		
		
	</select>
	
	
	<select id="cslistsearch" resultType="writtenVo" parameterType="writtenVo">
		select 	
		cs_idx, cs_data_01, cs_data_02, cs_data_03, cs_data_04, cs_data_05, cs_data_06, cs_data_07, cs_data_08,
		cs_data_09, cs_data_10, cs_data_11, cs_data_12, cs_data_13, cs_data_14, cs_data_15, cs_data_16, cs_data_17, cs_data_18, cs_data_19,
		cs_data_20, cs_data_21, cs_data_22, cs_data_23, cs_data_24, cs_data_25, cs_data_26, cs_data_27, cs_data_28, cs_data_29, cs_data_30, 
		DATE_FORMAT(cs_data_31, '%Y.%m.%d') AS cs_data_31, cs_data_32
		
		from cs_data 
		
		
		order by cs_idx desc
	</select>
	
	<insert id="insert" parameterType="writtenVo">
		insert into cs_data (cs_data_01, cs_data_02, cs_data_03, cs_data_04, cs_data_05, cs_data_06, cs_data_07, cs_data_08,
		cs_data_09, cs_data_10, cs_data_11, cs_data_12, cs_data_13, cs_data_14, cs_data_15, cs_data_16, cs_data_17, cs_data_18, cs_data_19,
		 cs_data_20, cs_data_21, cs_data_22, cs_data_23, cs_data_24, cs_data_25, cs_data_26, cs_data_27, cs_data_28, cs_data_29, cs_data_30,
		 cs_data_32
		) values(#{cs_data_01}, #{cs_data_02}, #{cs_data_03}, #{cs_data_04}, #{cs_data_05}, #{cs_data_06}, #{cs_data_07}, #{cs_data_08}, 
		#{cs_data_09}, #{cs_data_10}, #{cs_data_11}, #{cs_data_12}, #{cs_data_13}, #{cs_data_14}, #{cs_data_15}, #{cs_data_16}, #{cs_data_17}, 
		#{cs_data_18}, #{cs_data_19}, #{cs_data_20}, #{cs_data_21}, #{cs_data_22}, #{cs_data_23}, #{cs_data_24}, #{cs_data_25}, #{cs_data_26}, 
		#{cs_data_27}, #{cs_data_28}, #{cs_data_29}, 1, 1)
	</insert>
	
	<select id="selectone" resultType="writtenVo">
		select * from cs_data where cs_idx = #{cs_idx}
	</select>
	
	<select id="Cnt" resultType="int">
		select count(*) from cs_data WHERE YEARWEEK(cs_data_31) = YEARWEEK(NOW())
	</select>
	
	<update id="update">
	update cs_data set cs_data_30 = 2, cs_data_31 = now() where cs_idx = #{cs_idx}
	</update>
	<update id="update1">
	update cs_data set cs_data_30 = 2, cs_data_31 = now() where cs_idx = #{cs_idx}
	</update>
	
	<update id="modify">
		update csworktools.cs_data set 
		cs_data_01 = #{cs_data_01}, cs_data_02 = #{cs_data_02}, cs_data_03 = #{cs_data_03}, cs_data_04 = #{cs_data_04}, 
		cs_data_05 = #{cs_data_05}, cs_data_06 = #{cs_data_06}, cs_data_07 = #{cs_data_07}, cs_data_08 = #{cs_data_08},
		cs_data_09 = #{cs_data_09}, cs_data_10 = #{cs_data_10}, cs_data_11 = #{cs_data_11}, cs_data_12 = #{cs_data_12}, cs_data_13 = #{cs_data_13}, 
		cs_data_14 = #{cs_data_14},	cs_data_15 = #{cs_data_15}, cs_data_16 = #{cs_data_16}, cs_data_17 = #{cs_data_17}, cs_data_18 = #{cs_data_18}, 
		cs_data_19 = #{cs_data_19}, cs_data_20 = #{cs_data_20}, cs_data_21 = #{cs_data_21}, cs_data_22 = #{cs_data_22}, cs_data_23 = #{cs_data_23}, 
		cs_data_24 = #{cs_data_24},	cs_data_25 = #{cs_data_25}, cs_data_26 = #{cs_data_26}, cs_data_27 = #{cs_data_27}, cs_data_28 = #{cs_data_28}, 
		cs_data_29 = #{cs_data_29}, cs_data_30 = 1 where cs_idx = #{cs_idx}
	</update>
	<update id="modify1">
		update csworktools.cs_data set 
		cs_data_01 = #{cs_data_01}, cs_data_02 = #{cs_data_02}, cs_data_03 = #{cs_data_03}, cs_data_04 = #{cs_data_04}, 
		cs_data_05 = #{cs_data_05}, cs_data_06 = #{cs_data_06}, cs_data_07 = #{cs_data_07}, cs_data_08 = #{cs_data_08},
		cs_data_09 = #{cs_data_09}, cs_data_10 = #{cs_data_10}, cs_data_11 = #{cs_data_11}, cs_data_12 = #{cs_data_12}, cs_data_13 = #{cs_data_13}, 
		cs_data_14 = #{cs_data_14},	cs_data_15 = #{cs_data_15}, cs_data_16 = #{cs_data_16}, cs_data_17 = #{cs_data_17}, cs_data_18 = #{cs_data_18}, 
		cs_data_19 = #{cs_data_19}, cs_data_20 = #{cs_data_20}, cs_data_21 = #{cs_data_21}, cs_data_22 = #{cs_data_22}, cs_data_23 = #{cs_data_23}, 
		cs_data_24 = #{cs_data_24},	cs_data_25 = #{cs_data_25}, cs_data_26 = #{cs_data_26}, cs_data_27 = #{cs_data_27}, cs_data_28 = #{cs_data_28}, 
		cs_data_29 = #{cs_data_29}, cs_data_30 = 1 where cs_idx = #{cs_idx}
	</update>
	
	
</mapper>