<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace = "coopevaluation">

<select id="dbcheck" parameterType="cusers" resultType="int">
	select count(*) from coopusers where id = #{id}
</select>

<select id="login" parameterType="cusers" resultType="int">
		select count(*) from
		coopusers
		where id = #{id} and 
		<choose>
			<when test="name == null">
			pwd = #{pwd}
			</when>
			<when test="pwd == null">
			name = #{name}
			</when>
			
		</choose>
		
	</select>
	<select id="info" resultType="cusers" parameterType="int">
		select idx, id, pwd, name, reg_date, end_date, c_name, c_name2, c_subcode, c_subname, c_position, c_B, c_M, del_yn, down, none, user_code
		from coopusers where idx=#{idx}
	</select>
	<select id="info2" resultType="cusers" parameterType="cusers">
		select idx, id, pwd, name, reg_date, end_date, c_name, c_name2, c_subcode, c_subname, c_position, c_B, c_M, del_yn, down, none, user_code
		from coopusers where id=#{id}
	</select>
	<update id="pwdinsert" parameterType="cusers">
		update coopusers set pwd = #{pwd} where idx = #{idx}
	</update>
	<update id="pwdajax" parameterType="map">
		update coopusers set pwd = #{pwd} where id = #{id}
	</update>
	
	
	<select id="evList" resultType="evaluation" parameterType="evaluation">
		select * from evaluation where d2 = #{d2}
	</select>
	
	<insert id="forminsert" parameterType="answer">
		insert into answer (u1, u2, t1, team, d1, ev)
		values (
		#{u1}, #{u2}, #{t1}, #{team}, #{d1}, #{ev})
	</insert>
	<!-- 평가 완료 중복 체크 -->
	<select id="formcheck" resultType="int" parameterType="map">
		select count(*) from whether where d1 = #{d1} and d2 = #{d2} and team = #{team} 
	</select>
	
	
	<!--  평가 완료 표시  -->
	<insert id="whether" parameterType="whether">
		insert into whether (d1, d2, d3, ev, team)
		values (#{d1}, #{d2}, "평가완료", #{ev}, #{team})
	</insert>
	<!-- 리스트에서 평가 완료 확인 -->
	<select id="whetherselect" resultType="map" parameterType="map">
		select * from whether where d1 = #{idx}
		<!-- 
		select * from whether where d1 = #{id}
		
		 -->
	</select>
	<select id="noticeselect" resultType="map" parameterType="map">
		select * from notice where d1 = 2
	</select>
	<!-- 로그인 기록 저장 -->
	<insert id="loginlog" parameterType="loginlog">
		insert into loginlog (id, d1, ip) values (#{id}, #{name}, #{ip})
	</insert>
	
	<select id="users" resultType="map" parameterType="map">
		select idx, id, pwd, name, reg_date, end_date, c_name, c_name2, c_subcode, c_subname, c_position, c_B, c_M, del_yn, down, none, user_code
		from coopusers 
	</select>
	<select id="users1" resultType="map" parameterType="map">
		select idx, id, pwd, name, reg_date, end_date, c_name, c_name2, c_subcode, c_subname, c_position, c_B, c_M, del_yn, down, none, user_code
		from coopusers where hspt_name = "효사랑전주요양병원"
	</select>
	<select id="users1pwd" resultType="map" parameterType="map">
		select idx, id, pwd, name, reg_date, end_date, c_name, c_name2, c_subcode, c_subname, c_position, c_B, c_M, del_yn, down, none, user_code
		from coopusers where hspt_name = "효사랑전주요양병원" order by pwd asc
	</select>
	
	<select id="users2" resultType="map" parameterType="map">
		select idx, id, pwd, name, reg_date, end_date, c_name, c_name2, c_subcode, c_subname, c_position, c_B, c_M, del_yn, down, none, user_code
		from coopusers where hspt_name = "효사랑가족요양병원"
	</select>
	<select id="users2pwd" resultType="map" parameterType="map">
		select idx, id, pwd, name, reg_date, end_date, c_name, c_name2, c_subcode, c_subname, c_position, c_B, c_M, del_yn, down, none, user_code
		from coopusers where hspt_name = "효사랑가족요양병원" order by pwd asc
	</select>
	
	<select id="users3" resultType="map" parameterType="map">
		select idx, id, pwd, name, reg_date, end_date, c_name, c_name2, c_subcode, c_subname, c_position, c_B, c_M, del_yn, down, none, user_code
		from coopusers where hspt_name = "가족사랑요양병원"
	</select>
	<select id="users3pwd" resultType="map" parameterType="map">
		select idx, id, pwd, name, reg_date, end_date, c_name, c_name2, c_subcode, c_subname, c_position, c_B, c_M, del_yn, down, none, user_code
		from coopusers where hspt_name = "가족사랑요양병원" order by pwd asc
	</select>
	
	<select id="log" resultType="map" parameterType="map">
		select * from loginlog where id = #{id} order by d2 desc;
	</select>
	<select id="ph" resultType="map" parameterType="map">
		select * from user__phone
	</select>
	<select id="phOne" resultType="int" parameterType="map">
		select count(*) from user__phone where id = #{id} and number = #{ph}
	</select>
	<!-- 비밀번호 초기화 -->
	<!-- 
	<update id="pwdreset" parameterType="map">
		update coopusers set pwd = null where id = #{id}
	</update>
	<update id="pwdreset1" parameterType="map">
		update coopusers set pwd = null where hspt_name = '효사랑전주요양병원' and id = #{id}
	</update>
	<update id="pwdreset2" parameterType="map">
		update coopusers set pwd = null where hspt_name = '효사랑가족요양병원' and id = #{id}
	</update>
	<update id="pwdreset3" parameterType="map">
		update coopusers set pwd = null where hspt_name = '가족사랑요양병원' and id = #{id}
	</update>
	 -->
	<!-- 비밀번호 설정한 직원 명부 -->
	<!-- 
	<select id="hsptselect1" parameterType="map" resultType="int">
		select count(*) from coopusers where hspt_name = '효사랑전주요양병원'
	</select>
	
	<select id="hsptselect2" parameterType="map" resultType="int">
		select count(*) from coopusers where hspt_name = '효사랑가족요양병원'
	</select>
	
	<select id="hsptselect3" parameterType="map" resultType="int">
		select count(*) from coopusers where hspt_name = '가족사랑요양병원'
	</select>
	
	<select id="hsptpwdselect1" parameterType="map" resultType="int">
		select count(*) from coopusers where hspt_name = '효사랑전주요양병원' and pwd is NOT NULL;
	</select>
	<select id="hsptpwdselect2" parameterType="map" resultType="int">
		select count(*) from coopusers where hspt_name = '효사랑가족요양병원' and pwd is NOT NULL;
	</select>
	<select id="hsptpwdselect3" parameterType="map" resultType="int">
		select count(*) from coopusers where hspt_name = '가족사랑요양병원' and pwd is NOT NULL;
	</select>
	 -->
	<!-- 부서별 비밀번호 설정한 인원? -->
	<!-- 
	<select id="hsptselect1sub" parameterType="map" resultType="int">
		select count(*) from coopusers where hspt_name = '효사랑전주요양병원' and pwd is NOT NULL and user_code like concat (#{sub}, '%');
	</select>
	<select id="hsptselect2sub" parameterType="map" resultType="int">
		select count(*) from coopusers where hspt_name = '효사랑가족요양병원' and pwd is NOT NULL and user_code like concat (#{sub}, '%');
	</select>
	<select id="hsptselect3sub" parameterType="map" resultType="int">
		select count(*) from coopusers where hspt_name = '가족사랑요양병원' and pwd is NOT NULL and user_code like concat (#{sub}, '%');
	</select>
	
	<select id="target" parameterType="map" resultType="map">
		select * from target
	</select>
	
	<select id="answerselect" parameterType="map" resultType="map">
		select idx, u1, u2, t1, team, d1, DATE_FORMAT(regdate, '%Y-%m-%d %H:%i:%s') from answer
	</select>
	 -->
</mapper>