<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "hwt">


	<select id="noticeselect" resultType="map" parameterType="map">
		select * from notice where d1 = 1
	</select>
	
	<select id="info" resultType="users" parameterType="int">
		select idx, id, pwd, name, reg_date, end_date, hspt_name, hspt_subcode, hspt_subname, hspt_position, hspt_V, 
		hspt_K, hspt_B, hspt_X, hspt_Z, hspt_S, hspt_T, hspt_J, user_code
		from users__ where idx=#{idx}
	</select>
	
	<select id="info2" resultType="users" parameterType="users">
		select idx, id, pwd, name, reg_date, end_date, hspt_name, hspt_subcode, hspt_subname, hspt_position, hspt_V, 
		hspt_K, hspt_B, hspt_X, hspt_Z, hspt_S, hspt_T, hspt_J, user_code
		from users__ where id=#{id}
	</select>
	
	<select id="dbcheck" parameterType="users" resultType="int">
		select count(*) from users__ where id = #{id}
	</select>
	
	<select id="login" parameterType="users" resultType="int">
		select count(*) from
		users__
		where id = #{id} and 
		<choose>
			<when test="name == null">
			pwd = #{pwd}
			</when>
			<when test="pwd == null">
			name = #{name}
			</when>
		</choose>
	</select>
		
	<!-- 로그인 기록 저장 -->
	<insert id="loginlog" parameterType="loginlog">
		insert into loginlog (id, d1, ip) values (#{id}, #{name}, #{ip})
	</insert>

	<select id="phOne" resultType="int" parameterType="map">
		select count(*) from user__phone where id = #{id} and number = #{ph}
	</select>
	
	<update id="pwdinsert" parameterType="users">
		update users__ set pwd = #{pwd} where idx = #{idx}
	</update>
	
	<update id="pwdajax" parameterType="map">
		update users__ set pwd = #{pwd} where id = #{id}
	</update>

	<select id="users" resultType="map" parameterType="map">
		select idx, hspt_name, hspt_subcode, hspt_subname, id, pwd, hspt_position, name,
		hspt_V, hspt_K, hspt_B, hspt_X, hspt_Z, hspt_S, hspt_T, hspt_J, user_code
		from users__ where end_date is null
	</select>
	
	<select id="ph" resultType="map" parameterType="map">
		select * from user__phone
	</select>
	
	<!-- 비밀번호 설정한 직원 명부 -->
	<select id="hsptselect1" parameterType="map" resultType="int">
		select count(*) from users__
	</select>
	
	<select id="hsptpwdselect1" parameterType="map" resultType="int">
		select count(*) from users__ where pwd is NOT NULL;
	</select>
	
	<!-- 비밀번호 초기화 -->
	<update id="pwdreset" parameterType="map">
		update users__ set pwd = null where id = #{id}
	</update>
	
	<select id="setting" parameterType="map" resultType="map">
		select * from users__
	</select>
	
	<select id="accessAll" parameterType="map" resultType="map">
		select * from users__ u join access a on u.id = a.col1
	</select>
	
	<select id="cslist" resultType="writtenVo">
		select 
		cs_idx, cs_data_01, cs_data_02, cs_data_03, cs_data_04, cs_data_05, cs_data_06, cs_data_07, cs_data_08,
		cs_data_09, cs_data_10, cs_data_11, cs_data_12, cs_data_13, cs_data_14, cs_data_15, cs_data_16, cs_data_17, cs_data_18, cs_data_19,
		 cs_data_20, cs_data_21, cs_data_22, cs_data_23, cs_data_24, cs_data_25, cs_data_26, cs_data_27, cs_data_28, cs_data_29, cs_data_30,
		  DATE_FORMAT(cs_data_31, '%Y.%m.%d') AS cs_data_31, cs_data_32
		 from cs_data 
		<!-- 최근 일주일 데이터 -->
		WHERE YEARWEEK(cs_data_31) = YEARWEEK(NOW()) 
		
		order by cs_idx desc
		
		limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="cslistsearchCnt" resultType="int">
		select count(*) from cs_data 
		
		
		
	</select>
	
	
	<select id="cslistsearch" resultType="writtenVo" parameterType="writtenVo">
		select 	
		cs_idx, cs_data_01, cs_data_02, cs_data_03, cs_data_04, cs_data_05, cs_data_06, cs_data_07, cs_data_08,
		cs_data_09, cs_data_10, cs_data_11, cs_data_12, cs_data_13, cs_data_14, cs_data_15, cs_data_16, cs_data_17, cs_data_18, cs_data_19,
		cs_data_20, cs_data_21, cs_data_22, cs_data_23, cs_data_24, cs_data_25, cs_data_26, cs_data_27, cs_data_28, cs_data_29, cs_data_30, 
		DATE_FORMAT(cs_data_31, '%Y.%m.%d') AS cs_data_31, cs_data_32
		
		from cs_data 
		
		
		order by cs_idx desc
	</select>
	
	<insert id="insert" parameterType="writtenVo">
		insert into cs_data (cs_data_01, cs_data_02, cs_data_03, cs_data_04, cs_data_05, cs_data_06, cs_data_07, cs_data_08,
		cs_data_09, cs_data_10, cs_data_11, cs_data_12, cs_data_13, cs_data_14, cs_data_15, cs_data_16, cs_data_17, cs_data_18, cs_data_19,
		 cs_data_20, cs_data_21, cs_data_22, cs_data_23, cs_data_24, cs_data_25, cs_data_26, cs_data_27, cs_data_28, cs_data_29, cs_data_30,
		 cs_data_32
		) values(#{cs_data_01}, #{cs_data_02}, #{cs_data_03}, #{cs_data_04}, #{cs_data_05}, #{cs_data_06}, #{cs_data_07}, #{cs_data_08}, 
		#{cs_data_09}, #{cs_data_10}, #{cs_data_11}, #{cs_data_12}, #{cs_data_13}, #{cs_data_14}, #{cs_data_15}, #{cs_data_16}, #{cs_data_17}, 
		#{cs_data_18}, #{cs_data_19}, #{cs_data_20}, #{cs_data_21}, #{cs_data_22}, #{cs_data_23}, #{cs_data_24}, #{cs_data_25}, #{cs_data_26}, 
		#{cs_data_27}, #{cs_data_28}, #{cs_data_29}, 1, 1)
	</insert>
	
	<select id="selectone" resultType="writtenVo">
		select * from cs_data where cs_idx = #{cs_idx}
	</select>
	
	<select id="Cnt" resultType="int">
		select count(*) from cs_data WHERE YEARWEEK(cs_data_31) = YEARWEEK(NOW())
	</select>
	
	<update id="update">
	update cs_data set cs_data_30 = 2, cs_data_31 = now() where cs_idx = #{cs_idx}
	</update>
	
	<update id="modify">
		update cs_data set 
		cs_data_01 = #{cs_data_01}, cs_data_02 = #{cs_data_02}, cs_data_03 = #{cs_data_03}, cs_data_04 = #{cs_data_04}, 
		cs_data_05 = #{cs_data_05}, cs_data_06 = #{cs_data_06}, cs_data_07 = #{cs_data_07}, cs_data_08 = #{cs_data_08},
		cs_data_09 = #{cs_data_09}, cs_data_10 = #{cs_data_10}, cs_data_11 = #{cs_data_11}, cs_data_12 = #{cs_data_12}, cs_data_13 = #{cs_data_13}, 
		cs_data_14 = #{cs_data_14},	cs_data_15 = #{cs_data_15}, cs_data_16 = #{cs_data_16}, cs_data_17 = #{cs_data_17}, cs_data_18 = #{cs_data_18}, 
		cs_data_19 = #{cs_data_19}, cs_data_20 = #{cs_data_20}, cs_data_21 = #{cs_data_21}, cs_data_22 = #{cs_data_22}, cs_data_23 = #{cs_data_23}, 
		cs_data_24 = #{cs_data_24},	cs_data_25 = #{cs_data_25}, cs_data_26 = #{cs_data_26}, cs_data_27 = #{cs_data_27}, cs_data_28 = #{cs_data_28}, 
		cs_data_29 = #{cs_data_29}, cs_data_30 = 1 where cs_idx = #{cs_idx}
	</update>
	<insert id="save" parameterType="image">
	insert into image(imageData, cs_idx) value(#{imageData}, #{cs_idx})
	</insert>
</mapper>