<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "image">

	<insert id="save1" parameterType="pdf">
	insert into image(imageData, cs_idx) value(#{imageData}, #{cs_idx})
	</insert>
	<insert id="save" parameterType="pdf">
	insert into image(imageData, cs_idx) value(#{pdfData}, #{cs_idx})
	</insert>
	
	<select id="imgselect" parameterType="image" resultType="image">
	select * from image
	</select>
	
	<select id="getImageData" parameterType="image" resultType="image">
	select imageData from image where cs_idx = ${cs_idx}
	</select>
	
	<select id="imglist" parameterType="image" resultType="image">
	
	select convert(imageData USING UTF8) as imageData from image
	</select>
</mapper>