<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "test">

	<select id="cslist" resultType="testVo">
		select 
		cs_idx, cs_data_01, cs_data_02, cs_data_03, cs_data_04, cs_data_05, cs_data_06, cs_data_07, cs_data_08,
		cs_data_09, cs_data_10, cs_data_11, cs_data_12, cs_data_13, cs_data_14, cs_data_15, cs_data_16, cs_data_17, cs_data_18, cs_data_19,
		 cs_data_20, cs_data_21, cs_data_22, cs_data_23, cs_data_24, cs_data_25, cs_data_26, cs_data_27, cs_data_28, cs_data_29, cs_data_30, DATE_FORMAT(cs_data_31, '%Y.%m.%d') AS cs_data_31
		 from csworktools.cs_data_test 
		
		 order by cs_idx desc limit 10
	</select>
	
	<select id="cslistsearchCnt" resultType="int">
		select count(*) from csworktools.cs_data_test 
		
		<choose>
			<!-- 환자명 검색 -->
			<when test = "keyword1 != null and !keyword1.isEmpty()">
				where cs_data_01 like CONCAT('%', #{keyword1} , '%')
					<choose>
						<!-- 환자명 + 보호자명 검색 -->
						<when test = "keyword2 != null and !keyword2.isEmpty()">
							and cs_data_07 like CONCAT('%', #{keyword2} , '%')
						
							<choose>
								<!-- 환자명 + 보호자명 + 전화번호 검색 -->
								<when test = "keyword3 != null and !keyword3.isEmpty()">
									and cs_data_10 like CONCAT('%', #{keyword3} , '%')
								</when>
								
							</choose>
						</when>
						<!-- 환자명 + 전화번호 검색 -->
						<when test = "keyword3 != null and !keyword3.isEmpty()">
							and cs_data_10 like CONCAT('%', #{keyword3} , '%')
						</when>
						
						<otherwise>
						
						</otherwise>
					</choose>
			
			</when>
			
			<!-- 보호자명 검색 -->
			<when test = "keyword2 != null and !keyword2.isEmpty()">
				where cs_data_07 like CONCAT('%', #{keyword2} , '%')
				<choose>
					<!-- 보호자명 + 전화번호 검색 -->
					<when test = "keyword3 != null and !keyword3.isEmpty()">
						and cs_data_10 like CONCAT('%', #{keyword3} , '%')
					</when>
				</choose>
			</when>
			
			<!-- 전화번호만 검색 -->
			<when test = "keyword3 != null and !keyword3.isEmpty()">
			where cs_data_10 like CONCAT('%', #{keyword3} , '%')
			</when>
		</choose>
		
		
	</select>
	
	<select id="cslistsearch" resultType="testVo" parameterType="testVo">
		select 	
		cs_idx, cs_data_01, cs_data_02, cs_data_03, cs_data_04, cs_data_05, cs_data_06, cs_data_07, cs_data_08,
		cs_data_09, cs_data_10, cs_data_11, cs_data_12, cs_data_13, cs_data_14, cs_data_15, cs_data_16, cs_data_17, cs_data_18, cs_data_19,
		cs_data_20, cs_data_21, cs_data_22, cs_data_23, cs_data_24, cs_data_25, cs_data_26, cs_data_27, cs_data_28, cs_data_29, cs_data_30, DATE_FORMAT(cs_data_31, '%Y.%m.%d') AS cs_data_31
		
		from csworktools.cs_data_test 
		
		<choose>
			<!-- 환자명 검색 -->
			<when test = "keyword1 != null and !keyword1.isEmpty()">
				where cs_data_01 like CONCAT('%', #{keyword1} , '%')
					<choose>
						<!-- 환자명 + 보호자명 검색 -->
						<when test = "keyword2 != null and !keyword2.isEmpty()">
							and cs_data_07 like CONCAT('%', #{keyword2} , '%')
						
							<choose>
								<!-- 환자명 + 보호자명 + 전화번호 검색 -->
								<when test = "keyword3 != null and !keyword3.isEmpty()">
									and cs_data_10 like CONCAT('%', #{keyword3} , '%')
								</when>
								
							</choose>
						</when>
						<!-- 환자명 + 전화번호 검색 -->
						<when test = "keyword3 != null and !keyword3.isEmpty()">
							and cs_data_10 like CONCAT('%', #{keyword3} , '%')
						</when>
						
						<otherwise>
						
						</otherwise>
					</choose>
			
			</when>
			
			<!-- 보호자명 검색 -->
			<when test = "keyword2 != null and !keyword2.isEmpty()">
				where cs_data_07 like CONCAT('%', #{keyword2} , '%')
				<choose>
					<!-- 보호자명 + 전화번호 검색 -->
					<when test = "keyword3 != null and !keyword3.isEmpty()">
						and cs_data_10 like CONCAT('%', #{keyword3} , '%')
					</when>
				</choose>
			</when>
			
			<!-- 전화번호만 검색 -->
			<when test = "keyword3 != null and !keyword3.isEmpty()">
			where cs_data_10 like CONCAT('%', #{keyword3} , '%')
			</when>
		</choose>
		
		order by cs_idx desc limit #{pageStart}, #{perPageNum}
	</select>
	
	<insert id="insert" parameterType="testVo">
		insert into csworktools.cs_data_test (cs_data_01, cs_data_02, cs_data_03, cs_data_04, cs_data_05, cs_data_06, cs_data_07, cs_data_08,
		cs_data_09, cs_data_10, cs_data_11, cs_data_12, cs_data_13, cs_data_14, cs_data_15, cs_data_16, cs_data_17, cs_data_18, cs_data_19,
		 cs_data_20, cs_data_21, cs_data_22, cs_data_23, cs_data_24, cs_data_25, cs_data_26, cs_data_27, cs_data_28, cs_data_29
		) values(#{cs_data_01}, #{cs_data_02}, #{cs_data_03}, #{cs_data_04}, #{cs_data_05}, #{cs_data_06}, #{cs_data_07}, #{cs_data_08}, 
		#{cs_data_09}, #{cs_data_10}, #{cs_data_11}, #{cs_data_12}, #{cs_data_13}, #{cs_data_14}, #{cs_data_15}, #{cs_data_16}, #{cs_data_17}, 
		#{cs_data_18}, #{cs_data_19}, #{cs_data_20}, #{cs_data_21}, #{cs_data_22}, #{cs_data_23}, #{cs_data_24}, #{cs_data_25}, #{cs_data_26}, 
		#{cs_data_27}, #{cs_data_28}, #{cs_data_29})
	</insert>
	
	<select id="login" parameterType="testusers" resultType="testusers">
		select * from
		csworktools.testusers
		where id = #{id} and 
		<choose>
			<when test="name == null">
			pwd = #{pwd}
			</when>
			<when test="pwd == null">
			name = #{name}
			</when>
			
			<otherwise></otherwise>
		</choose>
		
	</select>
	<select id="info" resultType="testusers" parameterType="int">
		select * from csworktools.testusers where idx=#{idx}
	</select>
	<update id="pwdinsert" parameterType="testusers">
		update csworktools.testusers set pwd = #{pwd} where idx = #{idx}
	</update>
	<select id="evaluationtarget" resultType="testusers">
		select * from csworktools.testusers 
		where
		code in (SELECT code FROM testusers WHERE code = #{code})
	</select>
</mapper>