@charset "UTF-8";
@media all and (min-width: 768px){
	.main {
		width: 1024px;
	}
	.td1{
		width: 1%;
	}
	.td8 {
		width: 17%;
	}
	.td2{
		width: 20%;
	}
	.td3{
		width: 10%;
	}
	.td4{
		width: 13%;
	}
	.td6 {
		width: 15.5%;
	}
	.td5 {
		width: 10%;
	}
	.td7 {
		width: 14%;
	}
}

@media all and (max-width: 768px){
	
	.td1{
		width: 1%;
	}
	.td8 {
		width: 16%;
	}
	.td2{
		width: 20%;
	}
	.td3{
		width: 10%;
	}
	.td4{
		width: 13%;
	}
	.td6 {
		width: 15.5%;
	}
	.td5 {
		width: 10%;
	}
	.td7 {
		width: 14%;
	}
}