@charset "UTF-8";

section{
	font-size: 30pt;
	padding-top: 60px;
	height: calc(100vh - 300px);
	overflow-y: scroll;
	padding-bottom: 60px;
}
.container{
	padding-left: 40px;
    padding-right: 40px;
    width: 100vw;
    font-size: 35pt;
    
}
.content{	
	/* text-align: center; */
}
input[type=text], input[type=email]{
	width: 670px;
	height: 110px;
	margin-bottom: 46px;
	padding-left: 30px;
	font-size: 32pt;
	color: #6d6d6d;
	background-color: #f7f7f7;
}
input[type=text]{
	border: 1px solid #f7f7f7;
}
input[type=text]:focus, input[type=email]:focus{
	border: 1px solid #f7f7f7;
}
input[type=email]:disabled{
	color: #6d6d6d;
}
.btn{
	height: 120px;
	width: 330px;
	border: 1px solid #7c7c7c;
	border-radius: 20px;
	color: #ffffff;
	background-color: #7c7c7c;
	margin-top: 10px;
	font-size: 35pt;
}
.btn2{
	height: 120px;
	width: 670px;
	border: 1px solid #fbb03b;
	border-radius: 20px;
	color: #ffffff;
	background-color: #fbb03b;
	margin-top: 40px;
	font-size: 32pt;
}

.text{
	text-align: left;
	color: #363636;
	font-size: 24pt;
}







