@charset "UTF-8";

@media all and (max-width: 1670px){
	.td1 {
		width: 8%;
	}
	.target_text {
		margin: 0 15%;
	}
	.info-container {
		margin: 0 15%;
	}
	.target_container {
		margin: 0 15% 20px;
	}
	.footer > div {
		padding: 0 15%;
	}
}

@media all and (max-width: 1495px){
	.td1 {
		width: 8%;
	}
	.target_text {
		margin: 0 15% 0 15%;	
	}
	.info-container {
		margin: 0 15% 0 15%;
	}
	.target_container {
		margin: 0 15% 20px 15%;
	}
	.footer > div {
		padding: 0 15%;
	}
}

@media all and (max-width: 1280px){
	.td1 {
		width: 8%;
	}
	.target_text {
		margin: 0 10% 0 10%;	
	}
	.info-container {
		margin: 0 10% 0 10%;
	}
	.target_container {
		margin: 0 10% 20px 10%;
	}
	.footer > div {
		padding: 0 10%;
	}
}
@media all and (max-width: 1024px){
	/* 브라우저 창 width가 1024px보다 커지는 순간부터 적용
	데스크탑 */
	.td1 {
		width: 8%;
	}
	.target_text {
		margin: 0;	
	}
	.info-container {
		margin: 0%;
	}
	.target_container {
		margin: 0%;
	}
	.footer > div {
		padding: 0 20px;
	}
}
@media all and (max-width: 860px){
	/* 브라우저 창 width가 860px보다 커지는 순간부터 적용
	태블릿 */
	.td1 {
		width: 8%;
	}
	.target_text {
		margin: 0;	
	}
	.info-container {
		margin: 0%;
	}
	.target_container {
		margin: 0%;
	}
	.footer > div {
		padding: 0 20px;
	}
}


@media all and (max-width: 768px){
	/* 브라우저 창 width가 768px보다 커지는 순간부터 적용
	태블릿 */
	.td1 {
		width: 8%;
	}
	.target_text {
		margin: 0;	
	}
	.info-container {
		margin: 0%;
	}
	.target_container {
		margin: 0%;
	}
	.footer > div {
		padding: 0 20px;
	}
	.pc {
		display: none;
	}
}


/* Extra small devices (phones, 600px and down) */
@media all and (max-width: 600px) {
	:root, html {
	    font-size: 6px;
	}
	.td1 {
		width: 8%;
	}
	.td2 {
		width: 15%;
	}
	.td3 {
		width: 11.5%;
	}
	.td6 {
		width: 12%;
	}
	.td4 {
		width: 13%;
	}
	.td7 {
		width: 14%;
	}
	.td8 {
		width: 9%;
	}
	.td5 {
		width: 16%;
	}
	.main {
		min-height: 100%;
	    position: relative;
	    padding-bottom: 300px;
	}
	.target_info {
		height: 100px;
	}
	.target_header img {
		width: 12px;
		margin-right: 5px;
		line-height: 24px;
		vertical-align: middle;
	}
	.target_text {
		margin: 0;	
		height: 100%;
		padding: 0;
		display: flex;
		align-content: space-around;
		flex-wrap: wrap;
	    word-spacing: normal;
	}
	.target_text .notice {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		height: 50%;
		align-items: center;
		padding: 0 20px;
		background: #efefef;
	}
	.info-container {
		margin: 0;
	}
	.target_container {
		margin: 0;
	}
	.notice span {
		line-height: 3.2rem;
	}
	.quick {
		width: 100%;
		text-align: center;
		height: 50%;
		display: flex;
		align-items: center;
		padding: 0 20px;
		flex-wrap: wrap;
		flex-direction: row;
		background: #f7f7f7;
		border-bottom: 1px solid #e3e3e3;
	}
	.quick span {
		padding: 10px 5%;
		cursor: pointer;
		height: 100%;
		font-size: 1.8rem;
		font-weight: bolder;
	}
	.footer {
		height: 300px;
	}
	.pc {
		display: none;
	}
	.footer-tel {
		padding-left: 20px;
	}
	.line2 {
		margin: 5px 0 10px 0;
	}
	.targettb_A tr:first-child td, .targettb_B tr:first-child td, .targettb_C tr:first-child td, .targettb_D tr:first-child td {
		padding: 5px;
	}
	.nav-btn {
		border: 0;
		color: #a5a5a5;
		background: none;
		border-radius: 0;
		padding: 0;
		display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.active {
		border: 0;
		border-bottom: 2px solid #003981;
	    border-radius: 0;
	    background: #f7f7f7;
	    color: #1b304a;
		padding: 0;
	}
}
	@media all and (max-width: 460px) {
	:root, html {
	    font-size: 10px;
	}
	html, body {
		height: 100%;
	}
	td {
	    font-size: 1.12rem;
	}
	.td1 {
		width: 29px;
	}
	.td2 {
		width: 50px;
	}
	.td3 {
		width: 49px;
	}
	.td6 {
		width: 75px;
	}
	.td4 {
		width: 42px;
	}
	.td7 {
		width: 39px;
	}
	.td8 {
		width: 38px;
	}
	.td5 {
		width: 51px;
		padding: 0 15px;
	}
	.main {
    min-height: 100%;
    position: relative;
    padding-bottom: 300px;
    }
	.form_go > div > div {
	    margin: 0;
    	padding: 5px;
        word-spacing: -5px
	}
	.info_name {
		font-size: 2.4rem;
	}
	.info_id {
		font-size: 1.6rem;
	}
	.info_hs, .info_date {
		font-size: 1.28rem;
	}
	.target_header span {
		font-size: 1.28rem;
	}
	.target_info {
		height: 100px;
	}
	.target_header img {
		width: 12px;
		margin-right: 5px;
		line-height: 24px;
		vertical-align: middle;
	}
	.target_text {
		margin: 0;	
		height: 100%;
		padding: 0;
		display: flex;
		align-content: space-around;
		flex-wrap: wrap;
	    word-spacing: normal;
	}
	.target_text .notice {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		height: 50%;
		align-items: center;
		padding: 0 20px;
		background: #efefef;
		border-bottom: 1px solid #ededed;
	    box-shadow: 0 0 1px rgba(0,0,0,0.8);
    	z-index: 1;
	}
	.info-container {
		margin: 0;
		padding: 0;
	}
	.target_container {
		margin: 0 5px 5px;
		padding: 0 0 20px 0;
	}
	.target_area {
		padding-top: 307px;
	}
	.target_section {
	    padding: 20px 5px 20px 5px;
	}/* 
	.notice span {
		line-height: 2.56rem;
		font-size: 1.28rem
	} */
	.target_text span {
		line-height:  inherit;;
		font-size: 1.6rem
	}
	.quick {
		width: 100%;
		text-align: center;
		height: 50%;
		display: flex;
		align-items: center;
		padding: 0 20px;
		flex-wrap: wrap;
		flex-direction: row;
		background: #f7f7f7;
		border-bottom: 1px solid #e3e3e3;
	}
	.quick span {
		padding: 10px 5%;
		cursor: pointer;
		height: 100%;
		font-size: 1.5rem;
		font-weight: bolder;
		margin: 0px 2px;
	}
	.footer {
		height: 300px;
	}
	.line2 {
		margin: 5px 0 10px 0;
	}
	.score-text {
		word-spacing: 0;
	}
	.targettb_A tr:first-child td, .targettb_B tr:first-child td, .targettb_C tr:first-child td, .targettb_D tr:first-child td {
		padding: 5px;
	}
	.pc {
		display: none;
	}
	.footer {
		height: 300px;
		position: relative;
	    transform: translateY(-100%);
	}
	.footer > div {
	    padding: 0;
	}
	.footer-tel {
		padding-left: 0;
	}
	.nav-btn {
		border: 0;
		color: #a5a5a5;
		background: none;
		border-radius: 0;
		padding: 0;
		display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.active {
		border: 0;
		border-bottom: 2px solid #003981;
	    border-radius: 0;
	    background: #f7f7f7;
	    color: #1b304a;
		padding: 0;
	}
}