@charset "UTF-8";
root,
html {
  font-size: 10px;
  --footer--width: 100%;
}

* {
  box-sizing: border-box;
}
.main {
  margin-top: calc(62px + 145px);
}
.main_area {
  padding: 5px;
}
.main_content {
  margin: 5px;
  padding: 15px;
  border: 1px solid #000;
  width: 250px;
  height: 73px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
}
.menu_content {
  margin: 5px;
  padding: 15px;
  border: 1px solid #000;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 12px;
  cursor: pointer;
}
.info {
  background-color: #2f425a;
  color: #fff;
  height: 145px;
  padding: 28px;
  position: absolute;
  width: 100%;
  top: 62px;
}
.info-container {
  margin: 0 20% 0 20%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 15px;
}
.info_name {
  font-size: 3rem;
  margin-bottom: 7px;
}
.info_id {
  font-size: 2rem;
}
.info_hs {
  color: #c7c7c7;
  margin-bottom: 4px;
  font-size: 1.6rem;
}
.info_date {
  color: #c7c7c7;
  font-size: 1.6rem;
}
