@charset "UTF-8";

section{
	font-size: 30pt;
	color: #444444;
}
.list{
	height: 170px;
	padding-left: 40px;
	padding-right: 40px;
}
.list-title{
	margin-bottom: 10px;
}
.list-date{
	font-size: 24pt;
	color: #666666;
}
.gray-box{
	background-color: #f9f9f9;
}
.status{
	height: 88px;
	border-bottom: 1px solid #dddddd;
	display: flex;
    justify-content: end;
    align-items: end;
}
.line{
	border-bottom: 1px solid #dddddd;
}









