@charset "UTF-8";
.modal .btn{cursor: pointer;border: 1px solid #999999;text-align: center;border-radius: 5px;outline: none;font-weight: 500;}
.dimLayer{display: block;width: 100%;background-color: rgba(0, 0, 0, 0.3);position: fixed;left: 0;top: 0px;margin: 0;padding: 0;z-index: 9998;}
/* 
.modal{
	width: 600px;
	height: 252px;
	border-radius: 10px;
	padding: 80px 24px;
	box-sizing: border-box;
	text-align: center;
	}
	
.modal-section{
	background: #ffffff;
	box-sizing: border-box;
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	}
	 */
.menu_msg{
	font-size: 21px;
	font-weight: 500;
	position: relative;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
	}
.menu_msg2{
	font-size: 21px;
	font-weight: 500;
	position: relative;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
	}
.enroll_box p{padding-bottom: 56px;}
.gray_btn {width: 90px;background: #ffffff;color: #999999;height: 36px;line-height: 36px;transition: 0.5s;font-size: 17px;}
.modal_btn {
	width: 156px;
	background: #143257;
	color: #fff;
	height: 50px;
	line-height: 50px;
	font-size: 19px;
	border: none;
	cursor: pointer;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.pink_btn {
	width: 136px;
	background: #32B0CA;
	color: #fff;
	height: 50px;
	line-height: 50px;
	transition: 0.5s;
	font-size: 23px;
	border: none;
	cursor: pointer;
    position: relative;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
}
cs_btn {
	background: #E06666;
}
.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	display: none;
	background-color: rgba(51, 51, 51, 0.7);
	/* 애니메이션 효과 */
	transform: translateY(100%);
	transition: transform 1s ease-in-out;
}
.modal2 {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	display: none;
	background-color: rgba(51, 51, 51, 0.7);
	/* 애니메이션 효과 */
	transform: translateY(100%);
	transition: transform 2s ease-in-out;
}
.modal.show {
	display: block;
	transform: translateY(0);
	transition: transform 1s ease-in-out;
	z-index: 3;
}
.modal2.show {
	display: block;
	transform: translateY(0);
	transition: transform 1s ease-in-out;
	z-index: 3;
}
.modal_body {
	background: #ffffff;
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	
	display: flex;
    justify-content: center;
	position: absolute;
	top: 45%;
	left: 50%;

	width: 680px;
	height: 252px;

	text-align: center;

	background-color: rgb(255, 255, 255);
	border-radius: 20px;
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	/* 애니메이션 효과 */
	transform: translateY(0);
	transform: translate(-50%, -50%); 
}
.modal_body2 {
	background: #ffffff;
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	
	display: flex;
    justify-content: center;
	position: absolute;
	top: 45%;
	left: 50%;

	width: 680px;
	height: 290px;

	text-align: center;

	background-color: rgb(255, 255, 255);
	border-radius: 20px;
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	/* 애니메이션 효과 */
	transform: translateY(0);
	transform: translate(-50%, -50%); 
}
.munu_btn {
	display: flex;
    position: relative;
    top: 70%;
    left: 12%;
    transform: translate(-50%, -50%);
    justify-content: space-evenly;
}
.modal_footer2 {
	position: relative;
	top: 40%;
	display: flex;
	justify-content: space-around;
	transform: translate(-50%, -50%);
	left: 50%;
}
.modal_btn2 {
	width: 156px;
	background: #143257;
	color: #fff;
	height: 50px;
	line-height: 50px;
	font-size: 19px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}
.pink_btn2 {
	width: 146px;
	background: #F89D00;
	color: #fff;
	height: 50px;
	line-height: 50px;
	font-size: 19px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}
@media all and (max-width: 768px){
	/* 브라우저 창 width가 768px보다 작아지는 순간부터 적용
	모바일 */
	.menu_msg {
		font-size: 19px;
	}
}