@charset "UTF-8";
.bg-425c7b {
	background: #425c7b;
	color: #fff;
}
.bg-586f8b {
	background: #586f8b;
	color: #fff;
}
.bg-d9e9e9 {
	background: #d9e9e9;
}/* 
.tr-bottom::before {
	content: "";
	position: absolute;
	top: 1px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	border-bottom: 1px solid #cccccc;
} */
main {
	width: 100%;
	background: #f7f7f7;
	margin-left: 240px;
}
.pd {
	border-top: 11px solid #f7f7f7;
	position: fixed;
	top: 62px;
	width: 100%;
	z-index: 999;
}
th {height: 45px; text-align: center; font-size: 12pt;}
td {/* 
	border: 1px solid #d7d7d7; */
	height: 70px;
	text-align: center;/*
	border-right: 1px solid #d7d7d7; 
	border-bottom: 1px solid #d7d7d7; */
	font-size: 16px;
}
tbody td {
	border: 1px solid #d7d7d7;
	background: #fff;
}
.lasttd {/* 
	border-right:1px solid #d7d7d7;
	border-bottom:1px solid #d7d7d7; */
}

.scroll-container {
	padding: 10px; 
}
.scrolltable {
	width: 100%;
	border: 2px solid #cccccc;
	color: #222222;
}
.sticky-top {
	position: -webkit-sticky;
    position: sticky;
    top: 72px;
    z-index: 2; /* 높은 z-index 값을 설정 */
}
.sticky-top::before {
	content: "";
	position: absolute;
	top: 1px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	border-bottom: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
}
.sticky-top:nth-child(1)::before {
	border-right: 1px solid #cccccc;	
}
.sticky-top:nth-child(2)::before {
	border-left: 1px solid #cccccc;	
}
.sticky-middle {
	position: -webkit-sticky;
    position: sticky;
    top: 117px;
    z-index: 2;
}
.sticky-middle::before {
	content: "";
	position: absolute;
	top: -1px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	border-top: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
}
.sticky-middle:nth-child(4)::before {
	border-right: 1px solid #cccccc;
}
.sticky-bottom {
	position: -webkit-sticky;
    position: sticky;
    top: 162px;
    z-index: 2;
    color: #222222;
}
.sticky-bottom::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	border-top: 2px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
	border-bottom: 2px solid #cccccc;
}
.sticky-bottom:nth-child(2)::before {
	border-left: 1px solid #cccccc;
}
tbody th, tbody td {
    position: relative; /* 상대 위치 설정 */
    z-index: 1; /* 낮은 z-index 값을 설정 */
}
tbody td::before {
    border-right: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
}
.scrolltable > thead{
	color: #fff;
}
.scrolltable td:nth-child(4) {
	border-right: 2px solid #ccc;
}
.nav__link {
	display: flex;
	align-items: center;
	height: 64px;
	padding-left: 25px;
	border-left: 4px solid #2f425a;
	cursor:pointer;
}
.active {
    border-left: 4px solid #00bec2;
    background: #293a4f;
    color: #fff;
}
.bg-gray {
	background: #eaeaea;
}
.infotable {
	width: 100%;
	border: 2px solid #cccccc;
}
.infotable > thead > tr > th {
	background: #425c7b;
	color: #fff;
	border: 1px solid #d7d7d7;
	border-bottom: 2px solid #ccc;
}
.pointer {
	cursor: pointer;
}
.info-sticky-top::before {
	content: "";
	border-bottom: 2px solid #ccc;
}
.link-btn {
	cursor: pointer;
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.btn-css {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #ddd;
	height: 90%;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	background: #fafafa;
}
.btn-css:hover {
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.19), 0 2px 3px rgba(0, 0, 0, 0.23);
	-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.19), 0 2px 3px rgba(0, 0, 0, 0.23);
	-ms-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.19), 0 2px 3px rgba(0, 0, 0, 0.23);
	-o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.19), 0 2px 3px rgba(0, 0, 0, 0.23);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.19), 0 2px 3px rgba(0, 0, 0, 0.23);
}

section {
	display: flex;
	margin-top: 62px;
}
.nav__section {
    width: 240px;
    background: #2f425a;
    color: #c3c3c3;
    position: fixed;
    height: 100%;
}
.icon-image {
	margin-right: 10px;
	width:18px;
}

section {
  margin-top: 62px;
  background-color: #f7f7f7;
  padding: 0px;
  /* height: calc(100vh - 15px); */
}
.container {
  border: none;
  background-color: #ffffff;
  height: calc(100vh - 92px);
}

.nav__section {
    width: 240px;
    background: #2f425a;
    color: #c3c3c3;
    position: fixed;
    height: 100%;
}

.ip_tx {
  border: 1px Solid #eaeaea;
  width: 250px;
  height: 45px;
  margin-left: 10px;
  margin-right: 80px;
  padding-left: 10px;
  border-radius:5px;
}
.ip_pn {
  width: 300px;
}
.ip_sb {
  border: 1px solid #7b7b7b;
  background-color: #7b7b7b;
  border-radius: 5px;
  width: 100px;
  height: 45px;
  color: #ffffff;
}
.tb_menu {
  background-color: #03a9d0;
  /* 
	width: 1050px;
 */
  height: 70px;
  font-size: 20pt;
  color: #ffffff;
}
.tb_cont {
  font-size: 20pt;
  color: #000000;
  height: 78px;
}

.save {
  color: #ffffff;
  width: 170px;
  height: 45px;
  background-color: #ffa200;
  border-radius: 3px;
}
.sb {
  color: #ffffff;
  width: 80px;
  height: 45px;
  background-color: #2f425a;
  border-radius: 3px;
}
.dv_tx{font-size:20px;}
.ip_sb2{display:none;}

@media screen and (max-width: 1400px){
    .dv_tx {font-size: 18px;}
}

@media screen and (max-width: 1340px){
    .nav__section{display:none !important;}
    .ip_sb2{display:block;}
    main{margin-left:0 !important;}
    section{margin-top: 62px; background-color: #fff; padding:0px;}
}

@media screen and (max-width: 1200px){
    .dv_tx{font-size: 17px;}
    .ip_tx{width:160px;}
}

@media screen and (max-width: 1070px){
	.dv_tx{font-size: 16px;}
	.ip_tx{width:160px; height:40px; margin-right:45px;}
	.ip_sb{height:40px; font-size:16px;}
	.ip_sb2{height:40px; font-size:16px;padding-top:9px !important;}
}

@media screen and (max-width: 1030px){
	.ip_tx{margin-right: 35px;}
	.ip_sb2{height:40px; font-size:16px;padding-top:8px;}
}

@media screen and (max-width: 1000px){
	.flex{height:65px;}
	.ip_tx{width:120px; margin-right: 25px;}
	.ip_sb{width:80px; height:40px; font-size:16px;}
	.save {width:60px; height:35px !important;}
	.sb{height:35px !important;}
}
