@charset "UTF-8";
table{
	border:1px solid #d7d7d7; 
	width: 100%;
	background-color: #ffffff;
	color: #222222;
}
td {
	border:1px solid #cccccc;
	padding: 15px;
	text-align: center;
}

.td1{
	width: 6%;
}
.td2{
	width: 15%;
}
.td3{
	width: 11%;
}
.td4{
	width: 7.5%;
}
.td6 {
	width: 15%;
}
.td5 {
	width: 17%;
}
.td7 {
	width: 13%;
}
.td8 {
	width: 11%;
}

@media all and (min-width: 1024px){
	/* 브라우저 창 width가 1024px보다 커지는 순간부터 적용
	데스크탑 */

}
@media all and (min-width: 768px){
	/* 브라우저 창 width가 768px보다 커지는 순간부터 적용
	태블릿 */
	.info > div {
		margin: 0 10% 0 10%;
	}
}

/* Extra small devices (phones, 600px and down) */
@media all and (max-width: 600px) {
	
	
}