@charset "UTF-8";
:root, html {
	font-size: 10px;
	--footer--width: 947px;
}
.label {display: inline-block; position: relative;}
.alignBox {display: inline-flex; align-items: center; cursor: pointer;}
.inputTxt {display: inline-block; margin: 0 5px;}

.radio {position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 0; height: 0;}
.radioimg {width: 18px; height: 18px; background: url('../icon/ev/checkbox_off.png') no-repeat center /18px;}

.radio:checked+.radioimg {background: url('../icon/ev/checkbox_on.png') no-repeat center /18px;}

section {
	background : #fbfbfb;
	width: 100vw;
	height: calc(100vh - 140px);
	display: flex;
	justify-content: center;
	align-items: center;
}
.login-bg {
	background: url(../icon/ev/login_bg2.png) no-repeat center /100%;/* 
	padding: 50px 0 0 0; */
}
.main {   
	height: 768px;
    width: 1024px;
    padding: 52px 90px 52px 90px;
}
.line {
	border-left: 1px solid #d8d8d8;
    height: 330px;
}
.login-header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 106px;
}
.header-text {
	font-size: 2.7rem;
	color: #f5f5f5;
	font-weight: 600;
	letter-spacing: -1px;
    position: relative;
    top: 13px;
}
.login-area {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 446px;
    padding: 45px 0 30px 0;
}
.login-content {
	height: 100%;
	width: 50%;
}
.container {
	height: 100%;
}
.content {
    height: 100%;
    padding: 0px 41px 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}
.container > div > div:first-child {
	margin-bottom: 24px;
    text-align: center;
}
.container > div > div:first-child > span {
	color: #1b2e46;
    font-size: 20pt;
    font-weight: 600;
}
.id-area {
	margin-bottom: 7px;
}
.pwd-area {
	margin-bottom: 8px;
}
.input-text {
	width: 100%;
	height: 50px;
	border-radius: 7px;
	background-color: #e8e8e8;
	border: none;
	font-size: 1.3rem;
    color: #929191;
}
.notice-content {
	height: 100%;
	width: 50%;
}
.notice-bg {
	background: url(../icon/ev/memo.png) no-repeat center /338px;
	padding: 47px 35px 20px 35px;
}
.notice-header {
	width: 100%;
	height: 38px;
	color: #ffa200;
	font-size: 1.2rem;
    letter-spacing: -1.6px;
}
.notice-text {
	width: 100%;
	color: #222222; 
	font-size: 1rem;	
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.notice-text > div {
	display: flex;
	margin-bottom: 5px;
}
.content2 {
	padding: 0px 15px 0;
}
}
.container {
	text-align: center;
}
.notice-btn {
    display: flex;
    align-items: center;
    justify-content: center;
   	position: relative;
    bottom: -4px;
}
.manual {
	background-color: #6c6c6c;
    border: 1px solid #6c6c6c;
    border-radius: 7px;
    height: 50px;
    width: calc(100% - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
    cursor:pointer;
    font-size: 1.4rem;
}
.logo-area {
	margin-top: 74px;
}