@charset "UTF-8";

@media all and (max-width: 1670px){
	.target_text {
		margin: 0 15%;
	}
	.info_area {
		margin: 0 15%;
	}
	.area {
		margin: 0 15%;
		margin-bottom: 20px;
	}
	.target {
		margin: 0 15%;
	}
}


@media all and (max-width: 1495px){
	.target_text {
		margin: 0 15%;
	}
	.info_area {
		margin: 0 15%;
	}
	.area {
		margin: 0 15%;
		margin-bottom: 20px;
	}
	.target {
		margin: 0 15%;
	}
}

@media all and (max-width: 1280px){
	.target_text {
		margin: 0 15%;
	}
	.info_area {
		margin: 0 15%;
	}
	.area {
		margin: 0 15%;
		margin-bottom: 20px;
	}
	.target {
		margin: 0 15%;
	}
}

@media all and (max-width: 1024px){
	.target_text {
		margin: 0 10%;
	}
	.info_area {
		margin: 0 10%;
	}
	.area {
		margin: 0 10%;
		margin-bottom: 20px;
	}
	.target {
		margin: 0 10%;
	}
}

@media all and (max-width: 860px){
	.target_text {
		margin: 0 5%;
	}
	.info_area {
		margin: 0 5%;
	}
	.area {
		margin: 0 5%;
		margin-bottom: 20px;
	}
	.target {
		margin: 0 5%;
	}
}

@media all and (max-width: 768px){
	.target_text {
		margin: 0 5%;
	}
	.info_area {
		margin: 0 5%;
	}
	.area {
		margin: 0 5%;
		margin-bottom: 20px;
	}
	.target {
		margin: 0 5%;
	}
}

@media all and (max-width: 600px) {
	.target_text {
		margin: 0 5%;
	}
	.info_area {
		margin: 0 5%;
	}
	.area {
		margin: 0 5%;
		margin-bottom: 20px;
	}
	.target {
		margin: 0 5%;
	}
		
}

@media all and (max-width: 460px) {
	:root, html {
	    font-size: 6px;
	}
	.section {
		padding-top: 408px;
	}
	.target_area {
	    top: 241px;
	}
	.target_text {
		margin: 0 20px;
	}
	.info_area {
		margin: 0 20px;
		top: 242px;
	}
	.area {
		margin: 0 20px;
		margin-bottom: 20px;
	}
	.target {
		margin: 0 20px;
	}
	.target_info {
		top: 182px;
		z-index: 99;
	}
	.info {
		padding: 20px;
		height: 120px;
	}
	.fixed {
		position: fixed;
		top: 62px;
	}
	.target_box table {
	    height: 127px;
	}
	.label {
	    margin-right: 6px;
	}
	.radioimg {
	    width: 10px;
	    height: 10px;
	    background: url(../icon/ev/checkbox_off.png) no-repeat center /10px;
	}
	.radio:checked+.radioimg {
	    background: url(../icon/ev/checkbox_on.png) no-repeat center /10px;
	}
	.text-area-tr2 > td {
	    height: 65px;
	}
	.text-area-tr2 textarea {
	    height: 65px;
	}
	.footer > div {
	    margin: 0 auto;
	}
	.inputTxt {
	    margin: 0px 2px;
	}
	.modal_body {
		width: 90%;
	}
	.menu_msg2 {
	    font-size: 2.6rem;
	}
	.question-text {
		padding-left: 0;
	}
	.end {
		width: 141px;
	}
	.modal_body {
		width: 90%;
	}
}



