@charset "UTF-8";
.header{
	font-size: 45pt;
	text-align: center;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #eeeeee;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 150px;
	width: 100vw;
	position : fixed;	/* 이 부분을 고정 */
	top : 0;			/* 하단에 여백 없이 */
	background-color: #ffffff;
	z-index: 99;
}
#menu-btn{
	margin-left: 32px;
	flex-shrink: 0;
	z-index: 3;
}
.header span{
	color:#2f2f2f;
	display: inline-block;
}
.header > div{
	flex-grow: 1;
	text-align: center;
	display: flex;
	justify-content: center;
	margin-left: -68px;
}
/**/
/* 스르륵 나타나는 메뉴바 */
#menu {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 90vw;
  height: 100%;
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
}
#menu.active {
  left: 68px;
  z-index:2;
  
}
.menu-body{
width: inherit;
}
#menu ul {
  list-style: none;
  padding: 0;
  margin: 50px 0 0 0;
}
#menu li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
#menu li:last-child {
  border-bottom: none;
}
#menu a {
  color: #333;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
#menu a:hover {
  color: #fff;
  background-color: #333;
}
.btn4{
	height: 120px;
	width: 330px;
	border: 1px solid #7c7c7c;
	border-radius: 20px;
	color: #ffffff;
	background-color: #7c7c7c;
	margin-top: 10px;
	font-size: 35pt;
}
.btn5{
	height: 120px;
	width: 330px;
	border: 1px solid #fbb03b;
	border-radius: 20px;
	color: #ffffff;
	background-color: #fbb03b;
	margin-top: 10px;
	font-size: 35pt;
}
.btn6{
	margin-right: 90px;
}
.btn7{
	width: 750px;
}

.menu-body{
	background-color: #f7f7f7;
}
.info{
	background-color: #fad15b;
	height: 360px;
	padding-top: 38px;
	align-items: flex-start;
	justify-content: center;
}
.line{
	border-bottom: 20px solid #eaeaea;
}
.list{
	height: 140px;
	padding-left: 40px;
	border-bottom: 1px solid #eaeaea;
}
.list-logout{
	height: 135px;
}
.fixed{
	position: absolute;
	bottom: 0px;
	width: inherit;
}
.text{
	margin-left: 40px;
	font-size: 36pt;
	color: #555555;
}
.text1{
	font-size: 30pt;
	color: #363636;
	display: flex;
	align-items: flex-end;
	position: relative;
	bottom: -130px;
}
.user-info{
	color: #363636;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  display: none; /* 기본적으로 모달 숨기기 */
}

.modal-content {
  /* 슬라이드 메뉴 내용에 대한 스타일링 */
}







