@charset "UTF-8";

.data-box{
	margin: 10px 20px;
}
section{
	padding:5px;
	padding-top: 100px;
	margin-top: 110px;
}
.data{
	display: flex;
	flex-direction: column;	
	justify-content: center;
	align-items: center;
}
.data > div{
	background-color: #f7f7f7;
	border: 1px solid #dfdfdf;
	border-radius: 20px;
	width: 700px;
	height: 110px;
	font-size: 46pt;
	color: #444444;
	margin-bottom: 13px;
	display: flex;
	justify-content: center;
}
.data input{
	width:700px;
	background-color: #f7f7f7;
	border:none;
	padding-left: 40px;
}
input:focus{
	outline: none;
}
.btn-box{
	display: flex;
	flex-direction: column;	
	justify-content: center;
	align-items: center;
    margin: 10px 30px;
}
.btn{
	width: 700px;
	height: 120px;
	border-radius: 20px;
	vertical-align: middle;
	text-align: center;
	font-size: 38pt;
	color: #ffffff;
    margin-bottom: 20px;
}
.btn1{
	background-color: #fbb03b;
}
.btn2{
	background-color: #7c7c7c;
}
#login{
	margin-bottom: 15px;
}
.kakao{
	width: 700px;
}
.kakao > a{
		width: 700px;
}
#kakao-login-btn > img{
	width: 700px;
}











