@charset "UTF-8";

body {
	background-color:  rgb(233, 242, 232);

}
.header {
	
}

.logo {
	margin : 20px 0 20px 0;
	text-align: center;
}

.logo img {
	width: 300px;
} 

.container {/* 
	display: flex;
	flex-direction: column;
	align-content: center;
	flex-wrap: wrap; */
	width: 80vw;
	height: 100%;
	background-color: #fff;
	margin: 0 auto;
	padding : 15px;
}

/* 
.area {
	width: 680px;
	height: 80px;
	display: flex;
	justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}
	
 */

.progress {
	margin: 0 auto;
	margin-top: 80px;
	margin-buttom: 80px;
	display: flex;
	align-items : center;
	justify-content: center;
	
}
 #progress {
    appearance: none;
}
#progress::-webkit-progress-bar {
    background:#f0f0f0;
    border-radius:10px;
    box-shadow: inset 3px 3px 10px #ccc;
}
#progress::-webkit-progress-value {
    border-radius:10px;
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);
    background: linear-gradient(to right, #93F9B9, #1D976C);

}
.end-area {
    display: flex;
    justify-content: center;
}
.end {
	background-color: #D9EAD3;
	width: 230px;
	height: 57px;
   	border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #93C47D;
    cursor: pointer;
}

.footer {
	width: 80vw;
	margin: 0 auto;
}
.nav > div {
	font-size: 2.5rem;
	cursor: pointer;
}
.nav {
	display: flex;
	justify-content: flex-end;
}

label, input[type=radio] {
	cursor: pointer;
}