@charset "UTF-8";

body {
	background-color:  rgb(233, 242, 232);

}
.header {
	
}

.container {
	display: flex;
	width: 80vw;
	height: 900px;
	background-color: #fff;
	margin: 0 auto;
	flex-direction: column;
	align-content: center;
	flex-wrap: wrap;
}

.area {
	width: 680px;
	height: 80px;
	display: flex;
	justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}
	
}

.progress {
	margin-top: 80px;
	margin-buttom: 80px;
	display: flex;
	align-items : center;
	justify-content: center;
}
 #progress {
    appearance: none;
}
#progress::-webkit-progress-bar {
    background:#f0f0f0;
    border-radius:10px;
    box-shadow: inset 3px 3px 10px #ccc;
}
#progress::-webkit-progress-value {
    border-radius:10px;
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);
    background: linear-gradient(to right, #93F9B9, #1D976C);

}