<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "pointplus">

	
	<insert id="pointplus" parameterType="pointplusVo">
		insert into csworktools.poips (midx, userId, p_plus, hidx) 
	select #{midx}, #{h_userId}, 2000, hidx FROM csworktools.help ORDER BY hidx DESC LIMIT 1
	</insert>
	
	<insert id="pointdetail" parameterType="pointdetail">
		insert into csworktools.point_details (midx, userId, details, p_status)
		values (#{midx}, #{h_userId}, 2000, "적립")
	</insert>
	
	<select id="pointlist" resultType="map" parameterType="map">
	<!-- poips 테이블, member 테이블, help 테이블 조인 (poips랑 member는 midx로, poips랑 help는 수발 끝난 시간으로 조인) -->
		<!-- 
		SELECT 
		DATE_FORMAT(p.p_regdate, '%Y.%m.%d %H:%i') AS p_regdate, p.userId, p.p_plus, p.p_status, 
		DATE_FORMAT(h.h_endTime, '%Y.%m.%d %H:%i') AS h_endTime, h.h_name, h.h_no, h.h_number, p.idx 
		FROM csworktools.poips p join csworktools.member m on p.midx = m.midx JOIN csworktools.help h ON p.p_regdate = h.h_endTime where m.midx = #{midx} 
		
		 -->
		 
		SELECT 
		DATE_FORMAT(p.p_regdate, '%Y.%m.%d %H:%i') AS p_regdate, p.userId, p.p_plus, p.p_status, 
		DATE_FORMAT(h.h_endTime, '%Y.%m.%d %H:%i') AS h_endTime, h.h_name, h.h_no, h.h_number, p.idx 
		FROM csworktools.poips p join csworktools.customer m on p.midx = m.midx JOIN csworktools.help h ON p.p_regdate = h.h_endTime where m.midx = #{midx} 
		
		
		<choose>
				<when test="duration == 1">
				
				and p.p_regdate BETWEEN DATE_SUB(NOW(), INTERVAL 1 MONTH) AND NOW() 
				 
				</when>
				<when test="duration == 3">
				
				and p.p_regdate BETWEEN DATE_SUB(NOW(), INTERVAL 3 MONTH) AND NOW()
				
				</when>
				<when test="duration == 6">
				
				and p.p_regdate BETWEEN DATE_SUB(NOW(), INTERVAL 6 MONTH) AND NOW()
				
				</when>
				<otherwise>
				
				and DATE(p.p_regdate) BETWEEN #{startDate} AND #{endDate} 
				
				</otherwise>
		</choose>
		
		order by p.idx DESC
		
	</select>
	
	

</mapper>