<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="lazyLoadingEnabled" value="false"/>
		<setting name="multipleResultSetsEnabled" value="true"/>
		<setting name="useColumnLabel" value="true"/>
		<setting name="useGeneratedKeys" value="false"/>
		<setting name="defaultExecutorType" value="SIMPLE"/>
		<setting name="defaultStatementTimeout" value="25000"/>
	</settings>

	<typeAliases>	
	
		<typeAlias alias="helpVo" type="com.nnn.app.vo.HelpVo"/>
		<typeAlias alias="pointplusVo" type="com.nnn.app.vo.PointplusVo"/>
		<typeAlias alias="pointminusVo" type="com.nnn.app.vo.PointminusVo"/>
		<typeAlias alias="memberVo" type="com.nnn.app.vo.MemberVo"/>
		<typeAlias alias="customerVo" type="com.nnn.app.vo.CustomerVo"/>
		<typeAlias alias="writtenVo" type="com.nnn.app.vo.WrittenVo"/>
		<typeAlias alias="image" type="com.nnn.app.vo.ImageEntity"/>
		<typeAlias alias="testVo" type="com.nnn.app.vo.TestVo"/>
		<typeAlias alias="boardVo" type="com.nnn.app.vo.BoardVo"/>
		<typeAlias alias="pointdetail" type="com.nnn.app.vo.Pointdetail"/>
		<typeAlias alias="calen" type="com.nnn.app.vo.CalendarVo"/>
		<typeAlias alias="testusers" type="com.nnn.app.vo.TestusersVo"/>
		<typeAlias alias="evaluation" type="com.nnn.app.vo.EvaluationVo"/>
		<typeAlias alias="answer" type="com.nnn.app.vo.AnswerVo"/>
		<typeAlias alias="whether" type="com.nnn.app.vo.WhetherVo"/>
		
	</typeAliases>  

</configuration>  
